# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.env
.idea/
.pytest_cache/
.mypy_cache/
.vscode/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# TMC specific files (if you don't want them in any future project)
.tmcproject.yml
